<div class="paiement-view">
    <div class="paiement-view__container">
        <div class="paiement-view__goback-btn">
           <!--  <button class="paiement-view__goback-btn__bouton">
                Aller à l'acceuil
            </button> -->
           <div class="logo-content">
            <img class="paiement-view__goback-btn__logo" src="assets/images/logo-segbaya.jpg" alt="">
           </div>
        </div>
       <div class="paiement-view__content">
        <div class="paiement-view__content-left">
            <app-paiement-process></app-paiement-process>
        </div>
        <div class="paiement-view__content-right">
            <app-paiement-checkout></app-paiement-checkout>
        </div>
        <!-- <app-loading-overlay></app-loading-overlay> -->
       </div>
    </div>
</div>
