.audios {
    margin: 1.4rem;

    &__liste_element {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 33rem);
        row-gap: 1rem;
        justify-content: center;
        column-gap: 1rem;
    }

    &__list {
    }
}

.my-head {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}