.audios {
    margin: 1.4rem;

    &__liste_element {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 29rem);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 2rem;
    }

    &__list {
    }
}

.my-head {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}