<div class="books-modal-content">
    <div class="books-modal-content__header">
        <div class="books-modal-content__header__left">
            <h5 class="books-modal-content__header__left-title">PEN & INK DRAWING A SIMPLE GUIDE</h5>
            <p class="books-modal-content__header__left-author">Alphonso DUNN</p>
        </div>
        <div class="books-modal-content__header__right">
            <div class="books-modal-content__header__right-content">
                <div class="books-modal-content__header__right-content-head">12 500 FCFA</div>
            <div class="books-modal-content__header__right-content-sub-head">Payement par CinetPay && Pay-Pal</div>
            </div>
            <div class="books-modal-content__header__right-button-content">
                <button class="books-modal-content__header__right-button-content-button">
                    Payer le livre
                </button>
            </div>
        </div>
    </div>
    <div class="books-modal-content__middle">
        <div class="books-modal-content__middle__left">
            <div class="books-modal-content__middle__left__card">
                
            </div>
            <div class="books-modal-content__middle__left__tab-bar">
                <app-nav-details></app-nav-details>
                <app-book-contenu></app-book-contenu>
            </div>
        </div>
        <div class="books-modal-content__middle__right">
            <app-other-content-categorie></app-other-content-categorie>
        </div>
    </div>
</div>