<div class="book">
    <div class="book_inffo">
        <img class="book_inffo__image" src="../../../../assets/images/background/back_header.webp" alt="">
        <div class="book_inffo__infos">
            <p class="book_inffo__book-name">AFITI Brigicaelle</p>
            <div class="book_inffo__book-title">
                Deediv Learning & Big data pour developpeur
                Junior eep Learning & Big...
            </div>

        </div>
    </div>
    <div class="book__hover">
        <div>
            <p class="hover__title">
                Deep Learning & Big data
                pour developpeur
                Junior
            </p>

            <div class="hover__infos_tittle">
                <div class="hover__author-title">Claude Delaynoy</div>
                <div class="hover__book-page">185 pages</div>
                <div class="hover__book-edition">Version Anglais</div>
            </div>
        </div>
        <div class="hover__book-info">
            <div class="book-info__image-container">
                <img class="book-info__image-round" src="../../../../assets/images/background/back_header.webp" alt="">
            </div>
            <div class="book-info__edition">Afker Fontaine Academy</div>
        </div>

    </div>
</div>