@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        } //1800
    }
}

/*
    INPUT STYLE

*/

@mixin inputStyle {
    input[type="text"] {
        border: 0.09rem solid rgba($color-grey-dark-2, $input-opacity-4);
        transition: border 0.2s ease;

        &:focus {
            border: 0.09rem solid rgba($color-primary, $input-opacity-3);
            box-shadow: 1px 1px 8px rgba($color-primary, $input-opacity-4);
        }
    }
}

/**** REMOVE DEFAULT BUTTON STYLE *****/
@mixin marginHeader() {
    margin: 0rem 2rem 0rem 2rem;
}

@mixin marginHeaderSearch() {
    margin: 0rem 1rem 0rem 1rem;
}
@mixin removeLinkDefault() {
    color: $color-grey-dark;
    text-decoration: none;
    font-weight: 500;

    :link {
        color: $color-primary;
    }

    :hover {
    }
}
@mixin removeLinkDefaultHearderSearch() {
    color: $color-grey-dark-3;
    text-decoration: none;
    font-weight: 500;

    :link {
        color: $color-primary;
    }

    :hover {
    }
}

/*** buton hover **/

@mixin setEffectHover {
    transition: $bezier-transition;

    &:hover {
        color: $color-white;
    }
}
@mixin setEffectHoverSearchHeader {
    transition: $bezier-transition;

    &:hover {
        color: $color-primary;
        font-family: "sf-display-m";
        transform: scale(1.08);
    }
}

/*** buton hover for button with background**/

@mixin setEffectHoverRealBtn {
    transition: $bezier-transition;

    &:hover {
        color: $color-white;
        background-color: rgba($color-primary, 0.5);
        //transform: scale(1.08);
    }
}

/*** SET DEFAULT STATE BUTTONS ****/

@mixin setDefaultBtn {
    border: none;
    outline: none;
    transition: $bezier-transition;

    &:hover {
        opacity: .5;
    }
}
