<div class="acceuil__header">
    <div class="acceuil__header__left">
        <a href="#" class="acceuil__header__element acceuil__header__logo">Segbeya</a>
        <a href="#" class="acceuil__header__element acceuil__header__podcast">Podcasts</a>
        <a href="#" class="acceuil__header__element acceuil__header__audio">Audio</a>
        <a href="#" class="acceuil__header__element acceuil__header__video">Videos</a>
    </div>
    <div class="acceuil__header__element acceuil__header__space"></div>
    <div class="acceuil__header__right">
        <a href="" class="acceuil__header__element acceuil__header__post-podcast">Postez un podcast</a>
        <a href="/auth/login/"  class="acceuil__header__element acceuil__header__connect">Se connecter</a>
        <a href="#" class="acceuil__header__element acceuil__header__inscrire btn btn-primary ">S'inscrire</a>
    </div>
</div>