.books {
    margin: 1.4rem;


    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 15rem);
        justify-content: center;

        .book {

        }
    }


}

.my-head {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}