
@import "../../../../../assets/sass/abstracts/_variables";
@import "../../../../../assets/sass/base/_typography";
@import "../../../../../assets/sass/abstracts/_mixins";
@import "../../../../../assets/sass/base/_base";







.acceuil__header {
    color: $color-white;
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    height: 2.6rem;
    margin-bottom: calc(24rem - 2.6rem);
    padding-top: 1.6rem;
    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        align-items: center;

    }

    &__right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        align-items: center;

    }

    &__element {}

    &__logo {
        @include marginHeader();
         @include removeLinkDefault();
         color: $color-white;
    }

    &__podcast {
        @include marginHeader();
        @include removeLinkDefault();
        transition: $bezier-transition;

        @include setEffectHover()

    }

    &__audio {
        @include marginHeader();
        @include removeLinkDefault();
        @include setEffectHover();
    }
    &__video {
        @include marginHeader();
        @include removeLinkDefault();
        @include setEffectHover();


    }

    &__space {
        @include marginHeader();
        @include removeLinkDefault();
        @include setEffectHover();


    }

    &__post-podcast {
        @include marginHeader();
        @include removeLinkDefault();
        color : $color-primary;

        @include setEffectHover();


    }

    &__connect {
        @include marginHeader();
        @include removeLinkDefault();
        color : $color-primary;
        @include setEffectHover();


    }

    &__inscrire {
        @include marginHeader();
        @include removeLinkDefault();
        
        background-color: $color-primary;
        padding: .4rem 2rem .4rem 2rem;
        font-weight: 800;
        border: none;
        color: $color-white;
        
        @include setEffectHoverRealBtn();


        &:active {
            background-color: rgba($color: #000000, $alpha: 1.0);
        }
    }
}