<div class="acceuil__title-container">
    <p class="acceuil__title-container__title"><span class="acceuil__title-container__title-mark">Trouver des millions de podcasts</span> en un temps records sur Segbaya</p>
    <p class="acceuil__title-container__sub-title">JSegbaya est simple , claire facile dans l'utilisation pour votre
        utilité commune.</p>
    <div class="acceuil__search-bar-container">
        <select class="acceuil__search-bar__select">
            <option selected>Open this select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>    
        </select>
        <input type="text" class="acceuil__search-bar__input" id="exampleFormControlInput1"
            placeholder="Tapez un mot, une idée, un son...">
        <a [routerLink]="'/search'" href="#" class="acceuil__search-bar__button ">Rechercher</a>
    </div>
</div>