<div class="book-contenu">
    <div class="book-contenu__text-head">
        <p class="book-contenu__text-head__page">
             <span class="book-contenu__text-head__bold">247</span> pages
        </p>
        <p class="book-contenu__text-head__download">
            <span class="book-contenu__text-head__bold">274</span> telechargements
        </p>
        <p class="book-contenu__text-head__version">
            Version  <span class="book-contenu__text-head__bold">Anglaise</span>
        </p>
    </div>
    <div class="book-contenu__text-head">
        <p class="book-contenu__text-head__page">
            Edité en <span class="book-contenu__text-head__bold">Mai 2022</span>
        </p>
        <p class="book-contenu__text-head__download">
            publiée le <span class="book-contenu__text-head__bold">04 Mai 2OO2</span> 
        </p>
        
    </div>
    <div class="book-contenu__images-associees">
        <p class="book-contenu__images-associees__title">
            Images associée
        </p>
        <div class="book-contenu__images-associees__content">
            <div class="book-contenu__images-associees__content__image">
                <img src="/assets/images/background/back_header.webp" alt="" class="book-contenu__images-associees__content__image-contenu">
            </div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
            <div class="book-contenu__images-associees__content__image"></div>
        </div>
    </div>
    <div class="book-contenu__categories-associees">
        <div class="book-contenu__categories-associees__title">Catégorie associé</div>
        <div class="book-contenu__categories-associees__content">
            <button class="bouton book-contenu__categories-associees__content__bouton">Aquaman</button>
            <button class="bouton book-contenu__categories-associees__content__bouton">Aquaman</button>
            <button class="bouton book-contenu__categories-associees__content__bouton">Aquaman</button>

            
        </div>
    </div>
</div> 
