@import "src/assets/sass/index";


$margin-text: 1rem 0rem 1rem 0rem;

.book-contenu {
    &__text-head {
        display: flex;
        flex-direction: row;
        margin: 0.4rem 0rem 0.6rem 0rem;
        font-size: $dot-9rem-font-size;
        color: $color-black;

        &__bold {
            color: $color-black;
        }

        &__page {
            color: $color-grey-dark-3;
            margin: 0rem 0.3rem 0rem 0rem;
        }

        &__download {
            color: $color-grey-dark-3;
            margin: 0rem 0.3rem 0rem 0.3rem;
        }

        &__version {
            color: $color-grey-dark-3;
            margin: 0rem 0.3rem 0rem 0.3rem;
        }
    }

    &__images-associees {
        &__title {
            font-size: $dot-9rem-font-size;

            color: $color-grey-dark-3;
            margin: $margin-text;
        }

        &__content {
            width: 24rem;
            height: 10rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 0.6rem;

            &__image {
                background-color: $color-primary-light;
                border-radius: $border-radius-size-1;
                transition: $bezier-transition;

                &--active {
                    transition: $bezier-transition;
                    border: 0.2rem solid $color-primary;
                    opacity: 1;
                    border-radius: $border-radius-size-1;
                }

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    border: 0.2rem solid $color-primary;
                    opacity: 1;
                    border-radius: $border-radius-size-1;
                }
                &:focus {
                    border: 0.2rem solid $color-primary;
                    opacity: 1;
                    border-radius: $border-radius-size-1;
                }

                &-contenu {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border-radius-size-1;
                }
            }
        }
    }

    &__categories-associees {
        margin: .4rem 0rem;
        font-size: $dot-9rem-font-size;

        color: $color-grey-dark-3;

        &__title {
            margin: $margin-text;
        }

        &__content {
            &__bouton {
                display: inline-block;
                background-color: $color-white;
                padding: .6rem 2rem;
                border: $border-button;
                margin: 0rem .4rem;
                font-size: .8rem;
                transition: $bezier-transition;

                &:nth-child(1) {
                    margin-left: 0rem;
                }

                &:hover {
                    border-color: $color-grey-dark;
                    color: $color-primary;
                }
            }

        }
    }
}
