
@import "../../../../../assets/sass/abstracts/_variables";
@import "../../../../../assets/sass/base/_typography";
@import "../../../../../assets/sass/abstracts/_mixins";
@import "../../../../../assets/sass/base/_base";


.publishers {
    margin: 1.4rem;
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 15rem);
        justify-content: center;
    }
}

.my-head {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}