<div class="paiement-process__content">
    <p class="paiement-process__content__sub-title">
        Mode de paiement
    </p>
    <div class="paiement-process__content__choice-card">
        <p class="paiement-process__content__choice-card--title">
            Choisir le moyen de paiement
        </p>
        <div class="paiement-process__content__choice-card__choicer">
            <div class="paiement-process__content__choice-card__choicer--cinetpay paiement-process__content__choice-card__choicer--cinetpay-active">
                <img class="type-card" src="assets/svgs/cinetpay.svg">
            </div>
            <div class="paiement-process__content__choice-card__choicer--cinetpay">
                <img class="type-card" src="assets/svgs/PayPal.svg">
            </div>
          
        </div>
    </div>
    <div class="paiement-process__content__input-phone">
        <p class="paiement-process__content__input-phone--title">
            Numero de téléphone
        </p>
        <input type="tel" class="paiement-process__content__input-phone--input">
    </div>
    <div class="paiement-process__content__submit-button__container">
        <button class="paiement-process__content__submit-button__container--button">Continuer le paiement</button>
    </div>
</div>