    <section class="acceuil">
        <div class="acceuil__background"></div>
        <app-header-acceuil></app-header-acceuil>
        <app-searchbar></app-searchbar>
        <div class="content-acceuil">
            <app-publishers-section></app-publishers-section>
            <app-authors-section></app-authors-section>
            <app-audios-section></app-audios-section>
            <app-books-section></app-books-section>
            <app-videos-section></app-videos-section>
        </div>
    </section>
