<section class="loggin">
    <div class="loggin__back">
      <div class="loggin__left">
        <p class="loggin__left__title">
          Découvrez des podcasts
          audios, e-books et
          vidéos le plus
          simplement.
        </p>
        <p class="loggin__left__icone">
          Segbeya
        </p>
      </div>
      <div class="loggin__right">
        <div class="loggin__right__box">
          <h5 class="loggin__right__box__title">Connectez vous</h5>
          <div class="loggin__right__box__input-control">
            <label class="loggin__right__box__input-control__label" for="">E-mail ou numero de telephone</label>
            <input class="form-control loggin__right__box__input-control__input" type="text" />
          </div>
          <div class="loggin__right__box__input-control">
            <label class="loggin__right__box__input-control__label" for="">Mot de passe</label>
            <input class="form-control loggin__right__box__input-control__input" type="text" />
          </div>
          <div class="loggin__right__box__button">
            <div class=" loggin__right__box__button--container">
              <button class="loggin__right__box--connect-btn loggin__right__box--connect-btn--primary">Me Connectez</button>
            </div>
            <div class="loggin__right__box__button--container">
              <button class="loggin__right__box--connect-btn loggin__right__box--connect-btn--secondary">Je n'ai pas de compte, m'inscrire !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>