<div class="paiement-checkout">
    <p class="paiement-checkout__title">Resumé de la commande</p>
    <div class="paiement-checkout__divider"></div>
    <div class="paiement-checkout__product">
        <div class="paiement-checkout__product__card"></div>
        <div class="paiement-checkout__product__title">
            <p class="paiement-checkout__product__title__head">
                Create your own web-site for any  thing
            </p>
            <div class="paiement-checkout__product__title__infos">
                <div class="paiement-checkout__product__title__infos__left">
                    <p class="paiement-checkout__product__title__infos__left__head">AZIZ Kazabanka</p>
                   <div class="paiement-checkout__product__title__infos__left__content">
                    <p class="paiement-checkout__product__title__infos__left__content__title">e-book</p>
                   </div>
                </div>
                <p class="paiement-checkout__product__title__infos__right">
                    18500 FCFA
                </p>
            </div>
        </div>
    </div>
    <div class="paiement-checkout__offer">
        <p class="paiement-checkout__offer__title">
            Offre speciale
        </p>
        <div class="paiement-checkout__offer__content">
            <p class="paiement-checkout__offer__content__left">30% de remise</p>
            <p class="paiement-checkout__offer__content__right">18500 FCFA</p>
        </div>
    </div>
    <div class="paiement-checkout__divider"></div>

    <div class="paiement-checkout__totaux">
        <div class="paiement-checkout__totaux__sous">
            <p class="paiement-checkout__totaux__sous__left">
                Sous-total
            </p>
            <p class="paiement-checkout__totaux__sous__right">
                18500 FCFA
            </p>
        </div>
        <div class="paiement-checkout__totaux__total">
            <p class="paiement-checkout__totaux__total__left">
                TOTAL
            </p>
            <p class="paiement-checkout__totaux__total__right">18500 FCFA</p>
        </div>
    </div>

</div>
