.bouton {
    border: none;
    outline: none;
    text-decoration: none;
    color: $color-black;
    background-color: $color-primary-light;
    padding: 1rem 2rem;
    border-radius: $border-radius-size-1;
    font-size: 1rem;
}