@import "src/assets/sass/index";

$margin-text: 1rem 0rem 1rem 0rem;

.paiement-process {
    box-sizing: border-box;
    &__title {
        color: $color-black;
        font-size: 1rem;
        font-family: "sf-display-m";
        margin: 1rem 0rem;

        .my-spinner {
            max-width: 1rem;
            max-height: 1rem;
        }
    }

    &__steps-container {
        font-size: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "sf-display-m";

        padding: .6rem 0rem;

        &__left {
            display: flex;
            flex-direction: row;
            font-size: .7rem;
            
            &-step {
                
                font-family: "sf-display-m";
                color: $color-grey-dark-2;

                &--active {
                    color: $color-primary;
                }
            }
            
            &__next-arrow {
                margin: 0rem .6rem 0rem .6rem;
            }
        }

        &__right {

            &-button {
                @include setDefaultBtn;
                padding: .6rem 2rem;
                border-radius: $border-radius-size-1;
            }
        }
    }




}