<div class="paiement-process">
    <p class="paiement-process__title">
        Suivez les etapes pour faire le paiement
    </p>
    <div class="paiement-process__steps-container">
        <div class="paiement-process__steps-container__left">
            <p class="paiement-process__steps-container__left-step paiement-process__steps-container__left-step--active">
                Etape 1
            </p>
            <p class="paiement-process__steps-container__left__next-arrow"> > </p>
            <p class="paiement-process__steps-container__left-step ">
                Etape 2
            </p>
        </div>
         <div class="paiement-process__steps-container__right">
            <button class="paiement-process__steps-container__right-button">Precedent</button>
        </div>
    </div>
    <app-paiement-process-step-un></app-paiement-process-step-un>
    <!-- <app-paiement-process-step-dux></app-paiement-process-step-dux> -->
</div>
