<div class="paiement-process">
    <p class="paiement-process__title">
        Suivez les etapes pour faire le paiement
    </p>
    <div class="paiement-process__steps-container">
        <div class="paiement-process__steps-container__left">
            <p class="paiement-process__steps-container__left-step paiement-process__steps-container__left-step--active">
                Step 1
            </p>
            <p class="paiement-process__steps-container__left__next-arrow"> > </p>
            <p class="paiement-process__steps-container__left-step ">
                Step 2
            </p>
        </div>
        <!-- <div class="paiement-process__steps-container__right">
            <button class="paiement-process__steps-container__right-button">Precedent</button>
        </div> -->
    </div>
<!--     <div class="paiement-process__content">
        <p class="paiement-process__content__sub-title">
            Mode de paiement
        </p>
        <div class="paiement-process__content__choice-card">
            <p class="paiement-process__content__choice-card--title">
                Choisir le moyen de paiement
            </p>
            <div class="paiement-process__content__choice-card__choicer">
                <div class="paiement-process__content__choice-card__choicer--cinetpay paiement-process__content__choice-card__choicer--cinetpay-active">
                    <img class="type-card" src="assets/svgs/cinetpay.svg">
                </div>
                <div class="paiement-process__content__choice-card__choicer--cinetpay">
                    <img class="type-card" src="assets/svgs/PayPal.svg">
                </div>
              
            </div>
        </div>
        <div class="paiement-process__content__input-phone">
            <p class="paiement-process__content__input-phone--title">
                Numero de téléphone
            </p>
            <input type="tel" class="paiement-process__content__input-phone--input">
        </div>
        <div class="paiement-process__content__submit-button__container">
            <button class="paiement-process__content__submit-button__container--button">Continuer le paiement</button>
        </div>
    </div> -->
    <div class="paiement-process__content">
        <p class="paiement-process__content__sub-title">
            Mode de paiement
        </p>
        <p class="paiement-process__content__sub-title__info">Cette e-mail vous permettra de disposer un compte et efectuer le paiement.
        </p>

        <div class="paiement-process__content__input-phone">
            <p class="paiement-process__content__input-phone--title">
                E-mail
            </p>
            <input type="email" class="paiement-process__content__input-phone--input">
        </div>
        <div class="paiement-process__content__submit-button__container">
            <button class="paiement-process__content__submit-button__container--button">Continuer le paiement</button>
        </div>
    </div>
</div>
