

<div class="paiement-process__content">
    <p class="paiement-process__content__sub-title">
        Mode de paiement
    </p>
    <p class="paiement-process__content__sub-title__info">Cette e-mail vous permettra de disposer un compte et efectuer le paiement.
    </p>

    <div class="paiement-process__content__input-phone">
        <p class="paiement-process__content__input-phone--title">
            E-mail
        </p>
        <input type="email" class="paiement-process__content__input-phone--input">
    </div>
    <div class="paiement-process__content__submit-button__container">
        
        <button class="paiement-process__content__submit-button__container--button">
            Continuer le paiement
            <app-spinner-cool></app-spinner-cool>

        </button>
    </div>
</div>