<div class="search-page-details">
    <div class="search-page-details__overlay">
        <div class="close-button"></div>
        <div class="search-page-details__overlay__content">
            <div class="search-page-details__overlay__content__header">
                <div class="left-head-content">
                    <p class="left-head-content-title">
                        Je suis un titre  populairement biblique
                    </p>
                </div>
                <div class="right-head-content">
                    <button class="closer-head">
                        x
                    </button>
                </div>
            </div>
            <div class="contenter-modal">
                <app-books-modal-content></app-books-modal-content>
            </div>
        </div>
    </div>
</div>
