<div class="other-content-categorie">
    <div class="other-content-categorie__title">
        Contenu associée

    </div>
    <div class="other-content-categorie__content">
        <div class="other-content-categorie__content__element">
            <div class="other-content-categorie__content__element__card">
            </div>
            <div class="other-content-categorie__content__element__text">
                <p class="other-content-categorie__content__element__text--author">
                    HENRY Watt
                </p>
                <p class="other-content-categorie__content__element__text--title">
                    How to draw: Hobbit and
                    Custom berloush
                </p>
                <p class="other-content-categorie__content__element__text--amount">
                    6000 FCFA
                </p>
            </div>
        </div>
        <div class="other-content-categorie__content__element">
            <div class="other-content-categorie__content__element__card">
            </div>
            <div class="other-content-categorie__content__element__text">
                <p class="other-content-categorie__content__element__text--author">
                    HENRY Watt
                </p>
                <p class="other-content-categorie__content__element__text--title">
                    How to draw: Hobbit and
                    Custom berloush
                </p>
                <p class="other-content-categorie__content__element__text--amount">
                    6000 FCFA
                </p>
            </div>
        </div>
        <div class="other-content-categorie__content__element">
            <div class="other-content-categorie__content__element__card">
            </div>
            <div class="other-content-categorie__content__element__text">
                <p class="other-content-categorie__content__element__text--author">
                    HENRY Watt
                </p>
                <p class="other-content-categorie__content__element__text--title">
                    How to draw: Hobbit and
                    Custom berloush
                </p>
                <p class="other-content-categorie__content__element__text--amount">
                    6000 FCFA
                </p>
            </div>
        </div>
    </div>
    
    <div class="other-content-categorie__content__publisher">
        <div class="other-content-categorie__content__publisher__image-content"></div>

        <div class="other-content-categorie__content__publisher__text">
            <p class="other-content-categorie__content__publisher__text--name">
                MALAIKA Afi Louise
            </p>
            <p class="other-content-categorie__content__publisher__text--nbrpodcast">
                12 300 podcasts
            </p>
            <p class="other-content-categorie__content__publisher__text--allpost">
                voir tous ses postes
            </p>
        </div>
    </div>
</div>